:root {
  --primary-color: #ffffff;
  --secondary-color: #eeeeee;
  --tertiary-color: #dadada;
  --background-color: rgb(171, 192, 171);
  --primary-font-color: #262726;
  --secondary-font-color: #3c3e3c;
  --btn-color: #e6e6e6;
  --btn-border: 1.5px solid var(--btn-color);
  --btn-padding: 8px 12px;
  --btn-font-color: var(--secondary-font-color);
  --input-border-radius: 0;
  --active-btn-color: var(--charlotte-green);
  --active-btn-border: 1.5px solid var(--active-btn-color);
  --active-btn-font-color: #ffffff;
  --hover-btn-color: #b8b8b8;
  --hover-btn-border: 1.5px solid var(--hover-btn-color);
  --outline: 2px solid black;
  --tooltip-font-color: #8d8d8d;
  --charlotte-green: #005035;
  --niner-gold: #a49665;
  --quartz-white: #ffffff;
  --input-border-appearance: 1.5px solid var(--secondary-color);
  --error-background-color: #ea9898;
  --error-text-color: #d63b3b;
}

/* styles: Reset CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

html,
body {
  height: 100%;
  background-color: var(--background-color);
  overscroll-behavior: none;
  overflow-y: auto;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

/* styles: Header */

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: sticky;
  padding: 1rem;
  height: 64px;
  top: 0;
  background-color: var(--quartz-white);
  font-family: calluna;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header > #charlotte-logo {
  width: 3rem;
  height: 3rem;
}

header > h1 {
  font-size: max(1.6rem, 3vw);
  color: var(--charlotte-green);
  text-align: center;
}

header > #hamburger-icon {
  display: inline-block;
  cursor: pointer;
  right: 0;
  padding-right: 1.5rem;
}

header > #hamburger-icon span {
  background-color: var(--charlotte-green);
  display: block;
  width: 2rem;
  height: 0.2rem;
  margin: 0.4rem 0;
}

header > #hamburger-icon:hover span {
  background-color: var(--niner-gold);
}

#loading-screen {
  color: white;
  font-family: Arial, sans-serif;
  width: 100%;
  height: 100vh;
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  z-index: 9999;
  font-size: 40px;
  pointer-events: auto;
}

#loading-screen .loading-spinner {
  border: 12px solid var(--secondary-color);
  border-top: 12px solid var(--niner-gold);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

main {
  font-size: 18px;
  font-family: Arial, sans-serif;
  color: var(--primary-font-color);
  display: grid;
  grid-template-columns: 1fr minmax(0, 528px) minmax(0, 640px) 1fr;
  flex: 1;
  background-color: var(--background-color);
  position: relative;
  padding: 16px;
}

main > form {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
  padding: 24px 16px;
}

main > form > h2 {
  font-size: 1.8rem;
  color: var(--charlotte-green);
  margin: 1.5rem 0;
  text-align: center;
}

main > form > fieldset {
  display: flex;
  flex-direction: column;
  border-bottom: var(--tertiary-color) 1px solid;
  gap: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

main > form > fieldset:last-of-type {
  margin-bottom: 1rem;
}

main > form > fieldset > legend {
  font-weight: bold;
  color: var(--secondary-font-color);
  font-size: 1.2rem;
  padding-top: 16px;
}

main > form > fieldset > label {
  color: var(--secondary-font-color);
}

main > form input[type="text"],
main > form input[type="number"] {
  width: 32px;
  padding: 4px 0;
  border-bottom: var(--tertiary-color) 1.5px solid;
  font-size: 1rem;
}

main > form input[type="text"]:focus,
main > form input[type="number"]:focus {
  outline: none;
  border-bottom: var(--charlotte-green) 1.5px solid;
}

.percentage-input {
  font-size: 1rem;
}

.base-btn {
  border-radius: var(--input-border-radius);
  border: var(--btn-border);
  padding: var(--btn-padding);
  background-color: var(--btn-color);
  color: var(--btn-font-color);
  width: 144px;
  height: 40px;
  font-size: 1rem;
}

.base-btn:hover {
  cursor: pointer;
}

.base-btn:active {
  background-color: var(--active-btn-color);
  border: var(--active-btn-border);
  color: var(--active-btn-font-color);
}

.base-btn:focus {
  outline: var(--outline);
}

.base-btn::file-selector-button:hover {
  cursor: pointer;
}

input[type="file"].has-files,
input[type="file"].has-files::file-selector-button {
  background-color: var(--active-btn-color);
  border: var(--active-btn-border);
  color: var(--active-btn-font-color);
}

input[type="file"] {
  width: 272px;
  font-size: 1rem;
}

input[type="file"]::file-selector-button {
  background-color: transparent;
  border: none;
  color: var(--btn-font-color);
}

.radio-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 24px;
}

.radio-group input[type="radio"] {
  opacity: 0;
  position: absolute;
  pointer-events: none;
}

.radio-group input[type="radio"]:focus + label {
  outline: var(--outline);
}

.radio-group label {
  color: var(--secondary-font-color);
  background-color: var(--btn-color);
  padding: var(--btn-padding);
  flex: 1;
  min-width: 80px;
  width: 80px;
  height: auto;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.radio-group label:hover {
  cursor: pointer;
}

.radio-group input[type="radio"]:checked + label {
  background-color: var(--active-btn-color);
  border: var(--active-btn-border);
  color: white;
}

main > form > fieldset > .tooltip {
  font-size: 0.8rem;
  color: var(--tooltip-font-color);
  font-weight: bold;
  margin-top: 0.5rem;
}

main aside {
  grid: 3;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  padding: 24px 16px;
  gap: 16px;
  align-items: center;
}

main aside section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

footer {
  padding: 0.5em;
  width: 100%;
  bottom: 0;
  background-color: var(--secondary-color);
  color: white;
  display: flex;
  gap: 2em;
  justify-content: right;
  flex-direction: row;
}

footer > a {
  color: rgb(93, 93, 251);
  text-decoration: none;
  font-weight: bold;
}

footer > a:hover {
  cursor: pointer;
  text-decoration: underline;
}

footer > a:visited {
  color: rgb(223, 82, 223);
}

.hidden {
  display: none;
}

#loading-screen.hidden {
  display: none;
}
